<div class="bg-gradient-to-r from-blue-500 to-teal-400 text-white py-20 text-center shadow">
  <h1 class="text-4xl sm:text-5xl font-extrabold mb-6 leading-normal">
    Jetzt Nachhilfe finden<br />oder anbieten
  </h1>
</div>

<div class="max-w-6xl mx-auto py-12 px-4 sm:px-6 lg:px-8 grid grid-cols-1 md:grid-cols-2 gap-10">
  <div>
    <h2 class="text-xl font-bold text-gray-900 mb-6 mt-3">Für Suchende</h2>
    <div class="bg-white rounded-lg shadow-md p-6 h-64 flex flex-col items-center justify-center text-center transition hover:shadow-lg hover:-translate-y-1 duration-300" [routerLink]="'/angebote'">
    <div class="text-blue-500 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
        </svg>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-gray-900">Passendes Angebot finden</h3>
        <p class="text-sm text-gray-600 mt-1">Durchsuche eine Vielzahl von Nachhilfeangeboten.</p>
      </div>
    </div>
  </div>

  <div>
    <h2 class="text-xl font-bold text-gray-900 mb-6 mt-3">Für Anbieter</h2>
    <div class="bg-white rounded-lg shadow-md p-6 h-64 flex flex-col items-center justify-center text-center transition hover:shadow-lg hover:-translate-y-1 duration-300" [routerLink]="'/angebot-erstellen'">
    <div class="text-teal-400 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-gray-900">Nachhilfe erstellen</h3>
        <p class="text-sm text-gray-600 mt-1">Erstelle dein eigenes Nachhilfeangebot.</p>
      </div>
    </div>
  </div>
</div>


