<div class="bg-[#b40019] relative flex justify-center items-center px-4 py-4">
  <div class="flex border-2 border-white">
    <div class="bg-white px-6 py-2 flex items-center">
      <a [routerLink]="['/home/']">
        <img alt="Arbeitswelt Logo" class="h-8" src="/assets/Logo_Arbeitswelt.jpg" />
      </a>

    </div>
    <div class="flex items-center px-6">
      <span class="text-white font-bold text-2xl">Bewerbungs-Simulator</span>
    </div>
  </div>

    <img src="/assets/logout.png" alt="logout-btn" class="h-10 absolute right-4 cursor-pointer"  [routerLink]="['/logout/']" />

</div>

